@import "tailwindcss";

@tailwind utilities;

@layer components {
  .tab {
    @apply whitespace-nowrap border-b-2 py-2 px-1 text-sm font-medium border-transparent text-slate-500 hover:border-slate-300 hover:text-slate-700 hover:cursor-pointer;
  }
  .active-tab {
    @apply border-blue-500 text-blue-500;
  }
}